2020.11.15
<br>
<ol>
  <li>Bouncy Castle 1.67.</li>
  <li>Disable Chat:Send if there is at least one selected participant without a session key pair.</li>
  <li>Efficient ArrayList::remove(). Remove from the end of the array.</li>
  <li>Full, reliable, Steam! File sharing.</li>
  <li>Improved TLS handshake-completed state.</li>
  <li>Issue Settings::prepareListeners() shortly after the Settings activity has been instantiated.</li>
  <li>Monitor connection activity; decreased polling.</li>
  <li>Notify the user of incorrect device time via https://worldtimeapi.org/api/timezone/Etc/UTC.txt. Optional.</li>
  <li>Prepare initial private keys during a public-key exchange.</li>
  <li>Provide message-read responses to SmokeStack instances.</li>
  <li>Random identities need not be recorded to databases.</li>
  <li>Removed SecureRandom.getInstance("SHA1PRNG").</li>
  <li>Removed verbose threads and replaced with events.</li>
  <li>Request Ozone messages shortly after a TCP connection has been established or a TLS session has been established.</li>
  <li>SipHash-128.</li>
  <li>Write local identity immediately upon completion of TLS handshake.</li>
</ol>
2020.04.07
<br>
<ol>
  <li>Artificial random-access Steam files.</li>
  <li>New Scripts directory.</li>
  <li>Retain Steam rates.</li>
</ol>
2020.04.05
<br>
<ol>
  <li>Clear Smokescreen password.</li>
  <li>Static variables.</li>
</ol>
2020.04.04
<br>
<ol>
  <li>Bouncy Castle 1.65!</li>
  <li>Denote Juggernaut protocol failures and successes.</li>
  <li>Kernel broadcast receiver for immediate delivery of internal instructions.</li>
  <li>McEliece Pointcheval conversion. Smoke must be reinstalled!</li>
  <li>Non-TLS devices.</li>
  <li>Partial Steam.</li>
  <li>Passthrough devices.</li>
  <li>Smokescreen, or, application lock.</li>
</ol>
2020.01.01
<br>
<ol>
  <li>Happy New Year!</li>
  <li>New Argon2id parameters.</li>
</ol>
2019.12.30
<br>
<ol>
  <li>Argon2id key-derivation function.</li>
</ol>
2019.12.10
<br>
<ol>
  <li>Allow Android to recycle bitmaps.</li>
  <li>Corrected the private server authentication protocol.</li>
</ol>
2019.11.30
<br>
<ol>
  <li>Support various McEliece parameters.</li>
</ol>
2019.11.25
<br>
<ol>
  <li>Bouncy Castle version 1.64.</li>
  <li>Corrected primary key in participants table. Please reinstall Smoke.</li>
  <li>Corrected widget states during initialization.</li>
</ol>
2019.09.30
<br>
<ol>
  <li>Bouncy Castle version 1.63.</li>
  <li>Exit option. May be incomplete on some devices.</li>
  <li>Guard socket buffers.</li>
  <li>New icons.</li>
  <li>Save attachments to Downloads (Internal Storage -> Download).</li>
  <li>Settings -> View Details functional on Android 9.</li>
</ol>
2019.04.14
<br>
<ol>
  <li>JuggerKnot.</li>
  <li>Properly create strings from bytes. Ozones and participants must be redefined.</li>
</ol>
2019.04.04
<br>
<ol>
  <li>Allow removal of participant public keys.</li>
  <li>Close Java streams.</li>
  <li>Default socket buffer sizes.</li>
  <li>Juggernaut Protocol.</li>
  <li>Minor Fire layout changes.</li>
  <li>Release resources on onPause(), onStop().</li>
  <li>Removed deepCopy().</li>
  <li>Smoke Alias. Change your credentials while preserving your relationships.</li>
</ol>
2019.03.03
<br>
<ol>
  <li>Allow removal of specific messages in MemberChat.</li>
  <li>Decreased maximum buffer size from 32 MiB to 8 MiB.</li>
  <li>Prefer delete() over setLength(0) on buffers.</li>
  <li>Recycle bitmaps.</li>
</ol>
2019.02.25
<br>
<ol>
  <li>Bouncy Castle version 1.61.</li>
  <li>Material icons.</li>
  <li>Optional foreground service.</li>
</ol>
2019.02.02
<br>
<ol>
  <li>Array lengths may not be negative.</li>
  <li>Automatic removal of incorrect network data. Smoke and SmokeStack.</li>
  <li>Corrected conditional in UdpMulticastNeighbor::send(). SmokeStack.</li>
  <li>Disable Nagle's algorithm.</li>
  <li>Energy and iterations.</li>
  <li>Optional initialization of Ozone during neighbor definition.</li>
  <li>Orderly shutdown of schedules.</li>
  <li>Pause schedules, notify if necessary.
  <li>Replaced Spongy Castle with Bouncy Castle. Please replace existing listeners. SmokeStack.</li>
  <li>SNAP!</li>
  <li>Smaller lock regions.</li>
  <li>SmokeStack confirmation for identity sharing of personal identity.</li>
  <li>StringBuilder over StringBuffer if possible.</li>
</ol>
2018.10.10
<br>
<ol>
  <li>Compute SHA-512 display digest of PEM(certificate).</li>
  <li>Inspect length in String::substring().</li>
  <li>New server (tulip-ipv4.tilaa.cloud).</li>
</ol>
2018.09.01
<br>
<ol>
  <li>Allow resending of messages.</li>
  <li>Deleting Fiasco keys lacked proper confirmation.</li>
  <li>Denote messages which have been read by the recipient.</li>
  <li>Denote messages which have been sent.</li>
  <li>Depict Smoke failures.</li>
  <li>Lock SipHash::hmac().</li>
  <li>New participants_messages database fields. Requires new installation.</li>
</ol>
2018.08.19
<br>
<ol>
  <li>Allow generation of only PK material in Settings.</li>
  <li>Allow new participant names via context menus; Settings::Participants.</li>
  <li>Automatically set the Ozone to the Smoke ID on new installations.</li>
  <li>Blocking socket reads.</li>
  <li>Bouncy Castle at version 1.60.</li>
  <li>Calling via ephemeral McEliece; MemberChat only.</li>
  <li>Clear internal messaging log on Chat::Clear.</li>
  <li>Corrected faulty widget listeners in Fire.</li>
  <li>Corrected slight time differences between time stamps in messages destined for SmokeStacks and messages destined for participants.</li>
  <li>Increased key-publishing period from 15 seconds to 45 seconds. Also removed self-publishing.</li>
  <li>Material Design-compliant color selections.</li>
  <li>McEliece parameters m = 12, t = 68. Compatibility with m = 11, t = 50 is preserved.</li>
  <li>Messages in MemberChat will not be duplicated in the Chat activity.</li>
  <li>New Fiasco Keys column in Settings::Participants.</li>
  <li>New chat-message format. Incompatible with previous releases.</li>
  <li>Pause threads when possible.</li>
  <li>Periodically request Ozone messages.</li>
  <li>Private servers through SmokeStack.</li>
  <li>Removed the superfluous name field from the participants database table.</li>
  <li>Replaced complex if-statements with switch statements.</li>
  <li>Several member variables in the Neighbor class were defined as static. Corrected.</li>
  <li>Share capabilities and identities shortly after the SSL/TLS handshake has completed on TCP sockets.</li>
  <li>Shared keys without signatures are now accepted and properly depicted in Settings.</li>
  <li>Sign encryption and signature public keys as pairs.</li>
  <li>Singular member pages. Single image attachments included.</li>
  <li>Uniquely-persistent Fire identities.</li>
  <li>Viewing of member details now available via Settings::Participants context menu.</li>
</ol>
2018.05.05
<br>
<ol>
  <li>Forward secrecy from the past.</li>
</ol>
2018.04.04
<br>
<ol>
  <li>LocalBroadcastManager instances.</li>
  <li>Single ID per Fire.</li>
</ol>
2018.03.15
<br>
<ol>
  <li>Congestion-control improvements.</li>
  <li>Corrected nested locks (isNetworkConnected()).</li>
  <li>Insert-or-throw SQLite database queries.</li>
  <li>The ProgressDialog class has been deprecated. ProgressBars have now been added.</li>
  <li>The replace method may not be available in a hash table; put().</li>
</ol>
2018.03.03
<br>
<ol>
  <li>Attempt socket connections regardless of WiFi availability. Insight.</li>
  <li>Automatically import rosemary-ipv4.tilaa.cloud:4710 on new installations.</li>
  <li>Corrected local echo behavior.</li>
  <li>Echo Fire, if possible!</li>
  <li>Fire Digest Key and Salt fields may not be empty. Corrected.</li>
  <li>Host translation must be performed before every socket connection attempt.</li>
  <li>Large-area congestion-control mutex.</li>
  <li>Partition messages over UDP links into 576-byte datagrams.</li>
  <li>Provide the HMAC algorithm during identity distribution.</li>
  <li>The Call widget should only be enabled if a network is present.</li>
  <li>Time-tag SmokeStack-bound messages before departure. Otherwise, SmokeStack instances will discard expired messages.</li>
  <li>Wonderful documentation.</li>
</ol>
2018.02.20
<br>
<ol>
  <li>Abort simultaneous calls.</li>
  <li>Inspect WiFi availability before attempting socket connections.</li>
  <li>New Chat background color.</li>
  <li>Prepare calling public-key pairs without locking calling queue object.</li>
  <li>Replaced integers with long integers where necessary.</li>
  <li>Set Fire height to 60% of screen height.</li>
</ol>
2018.02.10
<br>
<ol>
  <li>Allow empty Fire participant names.</li>
  <li>Allow purging of neighbor queues.</li>
  <li>Automatic, oscillatory EPKS.</li>
  <li>Avoid non-essential operations if network channels are not available.</li>
  <li>Depict corrupted database entries.</li>
  <li>Enabled Nagle's algorithm.</li>
  <li>Introduced McEliece-Fujisaki via Bouncy Castle. Cross-communications supported.</li>
  <li>Minimum password length set to one character.</li>
  <li>New Fire key generation. Destination tags are required for SmokeStack.</li>
  <li>Participant name changes should be reflected in the Chat activity.</li>
  <li>Trim Channel, Digest Key, and Salt values on Fire.</li>
</ol>
2018.01.05
<br>
<ol>
  <li>Fire, or, group communications. Compatible with Spot-On.</li>
  <li>Increased lane widths to 8 MiB.</li>
</ol>
2017.08.19
<br>
<ol>
  <li>Set a non-zero SO_TIMEOUT as some devices do not unblock socket reads after sockets are closed.</li>
</ol>
2017.07.20
<br>
<ol>
  <li>AndroidManifest.xml was missing WakeLock permissions.</li>
  <li>Do not attempt to send duplicate data.</li>
  <li>Do not specify timeouts in socket reads as separate threads are responsible for socket reads.</li>
  <li>Removed all Thread.sleep() instances.</li>
  <li>Replaced StringBuilder Neighbor member with StringBuffer. StringBuffer is thread-safe.</li>
  <li>Signed release.</li>
  <li>WiFi lock.</li>
</ol>
2017.07.16
<br>
<ol>
  <li>Less activity on disconnected neighbors.</li>
</ol>
2017.07.09
<br>
<ol>
  <li>Detect existing key pairs in writeParticipant().</li>
  <li>Smaller database transaction areas.</li>
</ol>
2017.07.07
<br>
<ol>
  <li>Do not automatically purge the temporary identity for offline message retrieval unless some inactive period has elapsed.</li>
  <li>Issue SQLiteDatabase.update() whenever a participant is added. This will allow for replacing of participant names without removal of existing data.</li>
  <li>SmokeStack as a private public key repository.</li>
</ol>
